@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Noto Sans";
    transition: all;
    transition-duration: .5s;
    scroll-behavior: smooth;
    /* transition: color .7s; */
}

a.active hr{
    display: block;
}

.merri{
    font-family: "Merriweather";
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width:640px) {
    a.active{
        @apply bg-black text-white
    }
}

.btn-default{
    @apply bg-black text-white px-8 py-3 my-8 rounded shadow
}
.btn-white{
    @apply bg-white text-black border-gray-300 border px-8 py-3 my-8 rounded shadow
}